/* html, body { */
body {
    height: 100vh;
    width: 100%;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.pageContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vh;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0;
    padding: 0;

}

.flipped {
    border-color: green;
}
#gameGrid {
    padding: 1cm;
    display: grid;
    width: 80%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, minmax(150px, 1fr));
    gap: 10px;
    padding: 1cm;
    /* width: 620px;
    height: 620px; */
}
.box {
    background-image: url(../images/tile.png);
    background-repeat: none;
    background-position:center;
    background-size: cover;
    background-color: rgb(146, 188, 202);
    width:100%;
    height:100%;
    border: 3px solid lightpink;
    color: white;
}
/* @keyframes enlarge{
    from{
        scale: 100%;
    }
    to{
        scale: 120%;
    }
} */
@keyframes colorFlash {
    0%   {color: #add8e6;}
    20%  {color: #7fcde6;}
    40%  {color: #51c1e6;}
    60%  {color: #51c1e6;}
    80%  {color: #7fcde6;}
    100% {color: #add8e6;}
}
#leButton:hover{
    transition: transform 1s ease;
    transform: scale(1.5);
 
}
#leButton{

    transition: transform 1s ease;

}
#leButton a {
    text-decoration: none;
}
#leButton button {
    background-color: aqua;
    border: none;
    border-radius: 15px;
}
#leButton a:visited {
    color: #00AEE6;
}
#leButton a:hover {
    animation-name: colorFlash;
    animation-iteration-count: infinite;
    animation-duration: 800ms;
}


#gif_left{
    float: left;
    width: 20%;
}
#wow_gif{
    width: 100%;
}
#gif_right{
    float: right;
    width: 20%
}
#matching_gif{
    width: 100%;
    margin-left: -2cm;
}
#scoreContainer{
    color:whitesmoke;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media (max-width: 750px) {
    #gameGrid {
      width: 90%;
      grid-template-rows: repeat(4, 1fr, 1fr);
      max-height: 85vh;
      padding: 0.5cm;
      overflow: hidden; 
    }
  }
  
  @media (min-width: 751px) and (max-width: 1024px) {
    #gameGrid {
      width: 90%;
      grid-template-rows: repeat(4, 1f, 1fr);
      max-height: 85vh;
      padding: 0.75cm;
      overflow: hidden; 
    }
  }
  
  @media (min-width: 1025px) {
    #gameGrid {
      width: 80%;
      height: auto; 
      grid-template-rows: repeat(4, 1fr, 1fr);
      max-height: 80vh;
      padding: 1cm;
      overflow: hidden; 
    }
  }